<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee - {{ employee.name }}</title>
</head>
<body>
    <h1>Employee Details</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>{{ employee.name }}</td>
        </tr><tr>
            <td>email</td>
            <td>{{ employee.email }}</td>
        </tr><tr>
            <td>Department</td>
            <td>{{ employee.department }}</td>
        </tr><tr>
            <td>Joined_date</td>
            <td>{{ employee.joined_date }}</td>
        </tr>
    </table>
</body>
</html>