<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
</head>
<body>
    <h1>Employe Update</h1>
    <form  method="POST">
        {% csrf_token %}
        <p>
            <label for="">Name</label>
            <input type="text" name="name" value="{{ employee.name }}">
        </p>
        <p>
            <label for="">Email</label>
            <input type="text" name="email" value="{{ employee.email }}">
        </p>
        <p>
            <label for="">Department</label>
            <input type="text" name="department" value="{{ employee.department }}">
        </p>
        <p>
            <label for="">Joined_date</label>
            <input type="date" name="joined_date" value="{{ employee.joined_date }}">
        </p>
        <button type="submit">update</button>
    </form>
</body>
</html>